*,
::before,
::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
}

:root{
    --font-family: "Montserrat", sans-serif;
    --color-white: #fff;
    --color-black: #2F2F2F;
    --color-accent: #5184EE;
    --color-details: #67728F;
    --color-pink: #F56AB1;
    --color-dark-pink: rgba(245, 106, 177, 0.30);

    --box-shadow-grey: 0 0 30px 0 rgba(98, 98, 98, 0.10);
    --box-shadow-blue: 0px 0px 20px 0px rgba(63, 109, 237, 0.30);
    --box-shadow-pink: 0px 0px 20px 0px rgba(245, 106, 177, 0.20);

}

body{
    font-family: var(--font-family);
    background: #F7F7F8;
}

.container{
    padding: 0 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.caption-h2 {
    font-weight: 700;
    font-size: 50px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: var(--color-black);
}




/*  ----------------HEADER-----------------  */
.header{
    position: fixed;
    width: 100%;

}
.header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
}

.menu{
    display: flex;
    gap: 11px;
    align-items: center;
    cursor: pointer;
}

.menu-img{
    width: 36px;
    height: 17px;
}

.menu p{
    font-size: 15px;
    font-weight: 500;
    color: var(--color-white);
}

.search-input{
    width: 396px;
    border-radius: 20px;
    border: 1px solid #FFF;
    outline: none;
    background: transparent;
    color: var(--color-white);
    padding: 10px 0 10px 42px ;
    letter-spacing: 2px;
}

.search-input::placeholder{
    color: rgba(255, 255, 255, 0.60);
    font-family: inherit;
    font-weight: 500;
    font-size: 12px;
    line-height: 0.1;
}

.search-img{
    width: 24px;
    height: 24px;
    cursor: pointer;

}

.search-box{
    display: flex;
    align-items: center;
    gap: 11px;
}

.user-img{
    width: 30px;
    height: 30px;
    cursor: pointer;
}


/*  ----------------HERO-----------------  */
.hero{
    background-image: url("images/mainPageBG.jpg");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 110px;
}

.hero-title{
    width: 75%;
    margin: 0 auto;
}

.hero-img{
    /*width: 75%;*/
    /*height: 150px;*/
    margin-bottom: 40px;
}

.hero_company {
    color: var(--color-white);
    font-weight: 500;
    font-size: 25px;
    letter-spacing: 5px;
    opacity: 80%;
    text-align: center;
}

.hero_bottom{
    display: flex;
    justify-content: space-between;
    margin-top: 120px;
}

.hero_bottom-description{
    color: var(--color-white);
    font-size: 17px;
    text-align: right;
    max-width: 628px;
    line-height: 1.6;
    font-weight: 400;
}

.hero_bottom-social-media{
    display: flex;
    flex-direction: column;
    gap: 13px;
}

.hero_bottom-social-media img{
    width: 35px;
    cursor: pointer;
}


/*  ------------------POPULAR TOURS-----------------  */

.popular-tours{
    padding-top: 200px;
}

.popular-tours .caption-h2{
    text-align: center;
}

.popular-tours_input-container{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 300px;
    height: 51px;
    background-color: var(--color-white);
    border-radius: 15px;
    box-shadow: var(--box-shadow-grey);
    overflow: hidden;
    margin-top: 30px;
}

.switch-checkbox {
    display: none;
}

.switch-label {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.switch-text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 13px;
    font-weight: 600;
    transition: color 0.3s ease;
}

.switch-text.all {
    left: 59px;
    color: var(--color-white);
    z-index: 1;
}

.switch-text.hot {
    right: 45px;
    color: var(--color-details);
    z-index: 1;
}

.switch-slider {
    position: absolute;
    top: 5px;
    left: 10px;
    width: 120px;
    height: 41px;
    background-color: var(--color-accent);
    border-radius: 13px;
    transition: all 0.3s ease;
    box-shadow: var(--box-shadow-blue);
}

.switch-checkbox:checked + .switch-label .switch-slider {
    left: 137px;
    width: 153px;
}

.switch-checkbox:checked + .switch-label .switch-text.all {
    color: var(--color-details);
    z-index: 1;
}

.switch-checkbox:checked + .switch-label .switch-text.hot {
    color: var(--color-white);
    z-index: 1;
}

.popular-tours_filter-container{
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
}

.filter-options-list{
    display: flex;
    gap: 50px;
}

.filter-options-item{
    display: flex;
    gap: 11px;
    align-items: center;
    cursor: pointer;
}

.clear-filter{
    cursor: pointer;
}

.filter-options-item p, .clear-filter{
    font-size: 17px;
    color: var(--color-black);
    font-weight: 500;
}

.filter-options-item img{
    width: 8px;
    height: 8px;
}

/*---cards---*/
.tour-cards{

    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1330px ;
    margin: 0 auto;
    padding: 0 15px;
}

.tour-cards-list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1160px ;
    margin-top: 40px;

}

.tour-cards-item{
    width: 370px;
    height: 477px;
    border-radius: 30px;
    background: var(--color-white);
    box-shadow: var(--box-shadow-grey);
    padding: 40px;
    position: relative;

}

.tour-cards-item img{
    width: 263px;
    height: 257px;
    border-radius: 20px;
    margin-bottom: 15px;
}

.card-date{
    transform: rotate(90deg);
    position: absolute;
    top: 156px;
    right: 5px;
    color: var(--color-details);
    font-size: 10px;
    letter-spacing: 1px;
}

.card-info{
    display: flex;
    /*gap: 10px;*/
    align-items: center;
}

.card-type{
    border-radius: 20px;
    background: var(--color-dark-pink);
    box-shadow: var(--box-shadow-pink);
    color: var(--color-pink);
    font-size: 8px;
    font-weight: 500;
    line-height: normal;
    padding: 6px 23px;
    margin-right: 10px;
}

.card-duration{
    color: var(--color-details);
    font-size: 9px;
    font-weight: 600;
    line-height: normal;
    margin-left: 10px;
}

.card-city{
    color: var(--color-black);
    font-size: 23px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 20px;
    margin-top: 25px;
}

.card-price{
    color: var(--color-black);
    line-height: normal;
    font-size: 10px;

}

.card-price span{
    font-size: 25px;
    font-weight: 600;

}

.space-between{
    justify-content: space-between;
}

.card-btn{
    color: var(--color-accent);
    font-size: 10px;
    font-weight: 600;
    line-height: normal;
    width: 125px;
    height: 40px;
    border-radius: 13px;
    background: rgba(63, 109, 237, 0.20);
    box-shadow: 0 0 20px 0 rgba(139, 167, 244, 0.20);
    border: none;
    cursor: pointer;
}



/* --------About company---------- */
.about-company{
    padding-top: 159px;
}

.about-company_container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about-company_container img{
    width: 570px;
    height: 690px;
    border-radius: 70px;
}

.about-company_info p{
    color: var(--color-black);
    font-size: 15px;
    line-height: 150%;
    width: 470px;
}

.about-company_info p:nth-child(2){
    margin-top: 40px;
}

.about-company_info p:nth-child(3){
    margin-top: 30px;
}

.about-company_image-container{
    position: relative;
}

.image-feature{
    border-radius: 40px;
    background: var(--color-white);
    box-shadow: 0 0 30px 0 rgba(195, 195, 195, 0.10);
    text-align: center;
    width: 200px;
    height: 129px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.image-feature p:nth-child(1){
  color: var(--color-accent);
    font-size: 40px;
    font-weight: 700;
}

.image-feature p:nth-child(2){
    color: var(--color-black);
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
}

.position1{
    position: absolute;
    top: 100px;
    right: -75px;
}

.position2{
    position: absolute;
    top: 281px;
    left: -70px;
}

.position3{
    position: absolute;
    bottom: 100px;
    right: -75px;
}



/* ----------Reviews--------------- */
.reviews{
    padding-top: 200px;
}

.reviews-container{
    text-align: center;
}

.reviews_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.arrows-container{
    display: flex;
    gap: 20px;
}

.reviews-cards-list{
    display: flex;
    margin-top: 46px;
    justify-content: space-between;
}

.reviews-cards-item{
    background-image: url('./images/review.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 570px;
    height: 415px;
}

.review-text{
    color: #000;
    text-align: center;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 470px;
    margin: 107px auto 30px;
}

.review-user{
    color: var(--color-accent);
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    margin: 0 auto;

}

.review-details{
    position: relative;
    width: 110px;
    margin: 46px auto 0;
}

.avatar{
    width: 110px;
    height: 110px;
    border-radius: 110px;
}

.review-rate{
    width: 40px;
    height: 20px;
    border-radius: 10px;
    background: #F7F7F8;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 13px;
    right:-14px ;
    gap: 3px;
}

.star{
    width: 10px;
    height: 9px;
}

.rate{
   color: black;
    font-size: 8px;
    font-weight: 600;
}

.leave-review-btn{
    color: var(--color-white);
    font-size: 15px;
    border: none;
    font-weight: 600;
    padding: 21px 52px 20px;
    border-radius: 13px;
    background: var(--color-accent);
    box-shadow: var(--box-shadow-blue);
    cursor: pointer;
    margin-top: 60px;
}



/* --------Contacts----------- */
.contacts{
    padding-top: 200px;
    padding-bottom: 202px;
}

.contacts-container .caption-h2{
    text-align: center;
}

.contacts-caption{
    color: var(--color-black);
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 30px;

}

.contacts-items{
    display: flex;
    justify-content: space-between;
    margin-top: 60px;

}

.contacts-list{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contacts-list-item{
    display: flex;
    align-items: center;
    gap: 15px;


}

.contacts-list-item img{
    width: 30px;
    height: 30px;
}

.contacts-list-item p{
    color: var(--color-black);
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}



/* ---------------------Footer--------------------- */
.footer{
    background: var(--color-white);
    border-radius: 70px 70px 0 0;
    box-shadow: var(--box-shadow-grey);
}

.footer-container{
    display: flex;
    justify-content: space-between;
    padding: 100px 0;
}

.footer-caption-travel{
    color: var(--color-black);
    font-size: 20px;
    font-weight: 700;
}

.footer-caption{
    color: var(--color-black);
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 20px;
}

.footer-menu-list{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.footer-address-list{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-work-list{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.footer-menu-item, .footer-address-item, .footer-work-item{
    color: var(--color-black);
    font-size: 14px;
    line-height: 170%;
}

.arrow-up{
    width: 60px;
    height: 60px;
}